body {
    font-family: 'Roboto Medium', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-size: 1.3rem;
}

h1 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 30px;
    margin-top: 0px;
}

#moneybox_info {
    color: green;
    margin-bottom: 10px;
}

input {
    width: 100px;
    height: 20px;
    font-family: "Roboto";
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.range_input {
    width: 60px;
    height: 20px;
}

.start_button {
    margin: 0 auto;
    display: block;
    font-family: "Roboto Medium";
    font-size: 1.1rem;
    align-items: center;
    border-color: white;
    border-radius: 10px;
}

#settings_input__cells {
    margin-bottom: 20px;
    width: 100px;
}

td {
    border: 1px solid;
    background-color: honeydew;
    width: 50px;
    height: 40px;
    text-align: center;
    font-family: "Roboto Medium";
}

.start_button {
    width: 200px;
    height: 30px;
}

.display_none {
    display: none;
}

.settings {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 600px;
    height: 210px;
    background-color: honeydew;
    padding: 20px;
}